{% extends "base.html" %}

{% block title %}Контакты{% endblock %}

{% block content %}

<div class="content-block">
    <h2>Основные сведения</h2>
    <ul>
        <li><strong>Полное наименование:</strong> Акционерное общество «Жилуправление» городского округа город Октябрьский Республики Башкортостан.</li>
        <li><strong>Организационная правовая форма:</strong> Открытое акционерное общество.</li>
        <li><strong>Место нахождения:</strong> г. Октябрьский РБ, ул. Кувыкина, 25А.</li>
        <li><strong>Директор:</strong> Багаутдинов Рим Ахметшакирович.</li>
    </ul>

    <p>Открытое акционерное общество «Жилуправление» городского округа город Октябрьский Республики Башкортостан создано на основании Постановления главы администрации городского округа город Октябрьский №2212 от 02.10.2006г.</p>

    <h2>Контакты</h2>
    <ul>
        <li><strong>Почтовый адрес:</strong> Россия, Республика Башкортостан, 452602, г. Октябрьский, ул. Кувыкина, д. 25а.</li>
        <li><strong>Телефоны:</strong>
            <ul>
                <li>Приемная: 5-45-12</li>
                <li>ПТО: 7-20-26, 7-20-22</li>
                <li>Расчетно-кассовый центр: 5-45-11</li>
            </ul>
        </li>
        <li><strong>Электронная почта:</strong> <a href="mailto:jkz-okt2@yandex.ru">jkz-okt2@yandex.ru</a></li>
    </ul>

    <h2>Регистрация и допуски</h2>
    <ul>
        <li><strong>Свидетельство о государственной регистрации:</strong> № 1060265016888 от 03.10.2006г., выданное Инспекцией Федеральной налоговой службы по г. Октябрьскому Республики Башкортостан.</li>
        <li><strong>Допуски к видам работ:</strong>
            <ul>
                <li>Саморегулируемая организация «Межрегиональное объединение проектировщиков»:
                    <ul>
                        <li>№ 107-01-0265028763-П-069 от 29.12.2010г.</li>
                        <li>№ СРОМОП-2-09-02-0087-107 от 12.02.2010г.</li>
                    </ul>
                </li>
                <li>Саморегулируемая организация «Межрегиональный строительный союз»:
                    <ul>
                        <li>№ 0325.02-2011-0265028763-С-096 от 31.08.2011г.</li>
                        <li>№ СРОМСС-1-10-02-0439-325 от 02.03.2010г.</li>
                    </ul>
                </li>
            </ul>
        </li>
    </ul>
</div>
{% endblock %}