{% extends "base.html" %}

{% block title %}Режим работы{% endblock %}

{% block content %}

<div class="content-block">
    <h2>Часы работы АО «ЖИЛУПРАВЛЕНИЕ»</h2>
    <ul>
        <li><strong>Основное время:</strong> с 8:30 до 17:30</li>
        <li><strong>Обед:</strong> с 13:00 до 14:00</li>
    </ul>

    <h2>Аварийно-диспетчерская служба</h2>
    <ul>
        <li><strong>В будни:</strong> с 17:30 до 08:30</li>
        <li><strong>Выходные и праздничные дни:</strong> круглосуточно</li>
    </ul>

    <h2>Часы приема населения</h2>
    <ul>
        <li><strong>Время:</strong> с 8:30 до 17:00</li>
        <li><strong>Обед:</strong> с 13:00 до 14:00</li>
        <li><strong>Среда:</strong> неприемный день</li>
    </ul>

    <h2>Директор (Багаутдинов Рим Ахметшакирович)</h2>
    <ul>
        <li><strong>Прием:</strong> по понедельникам с 15:00 до 16:00</li>
    </ul>

    <h2>Заместитель директора по социальным и административно-правовым вопросам (Пашпекин Д.В.)</h2>
    <ul>
        <li><strong>Прием:</strong> ежедневно</li>
    </ul>

    <h2>Главный инженер (Озеров В.А.)</h2>
    <ul>
        <li><strong>Прием:</strong> ежедневно</li>
    </ul>

    <h2>Юридический отдел</h2>
    <ul>
        <li><strong>Понедельник:</strong> с 9:00 до 12:00</li>
        <li><strong>Среда:</strong> с 14:00 до 17:00</li>
        <li><strong>Пятница:</strong> с 9:00 до 12:00</li>
        <li><strong>По вопросам задолженности:</strong> ежедневно</li>
    </ul>

    <h2>Производственно-технический отдел</h2>
    <ul>
        <li><strong>Прием:</strong> ежедневно с 9:00 до 17:30</li>
    </ul>

    <h2>Планово-экономический отдел</h2>
    <ul>
        <li><strong>Прием:</strong> ежедневно с 9:00 до 17:30</li>
    </ul>

    <h2>Расчетно-кассовый центр</h2>
    <ul>
        <li><strong>Прием:</strong> вторник, четверг с 9:00 до 17:30</li>
    </ul>
</div>
{% endblock %}